.card
  width: 540px
  padding-top: 25px
  padding-bottom: 100px
  border-top: 1px solid #000
  &:hover
    .buttons
      visibility: visible

.image
  margin: 25px 0 30px
  &::before
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    content: ''
    background-color: rgba(28, 3, 3, 1)
    z-index: 100

.information
  display: flex
  justify-content: space-between
  margin-bottom: 20px
  &:last-child
    margin-bottom: 0

.address
  display: flex
  align-items: center
  margin-bottom: 25px

.address_text
  margin-left: 10px

.information
  display: flex

.info
  display: flex
  flex-direction: column
  justify-content: space-between

.day
  margin-bottom: 25px

.date
  display: flex

.icon
  margin-right: 10px

.time
  display: flex

.pay
  display: flex
  flex-direction: column
  align-items: flex-end

.prepayment
  font-size: 18px

.price
  font-size: 36px
  font-weight: 700

.buttons
  display: flex
  visibility: hidden
  justify-content: space-between